.cart-container{
    margin-top: 0;
    background-color: bisque;
}
.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.products-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin: 80px 50px;
};

